@import url("5-filters.css");

.popover {
	display: none;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	margin-top: 0;
}

li {
	list-style-type: none;
}

.popover h2 {
	font-size: 16px;
}

.amenities:hover .popover,
.locations:hover .popover{
	display: block;
}
