@import url("6-filters.css");

footer {
	position: relative !important;
}

.places h1 {
	font-size: 30px;
	text-align: left !important;
}

.places {
	text-align: center;
}

.places article {
	clear: both;
	display: inline-block;
	vertical-align: top;
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: #FF5A5F 1px solid;
	border-radius: 4px;
}

.places article h2 {
	margin-top: 0;
	font-size: 30px;
}
